.combo {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 60px 20px;
    margin-bottom: 70px;
  }

  .combo_img {
    width: 220px;
    height: 220px;
    margin: 0 auto 5px;
  }
  
  .combo {
    transition: 1s; 
  }
  
  .combo_img:hover {
    transform: scale(0.98);
  }

  .card_combo {
    display: flex ;
    flex-direction: column;
    align-items: stretch; 
   }