.pizza {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-gap: 60px 20px;
  margin-bottom: 70px;
}

.pizza_img {
  width: 220px;
  height: 220px;
  margin: 0 auto 5px;
}

.pizza_img {
  transition: 1s; 
}

.pizza_img:hover {
  transform: scale(0.98);
}


