@import url("./reset.css");
@import url("./header.css");
@import url("./menu.css");
@import url("./new_card.css");
@import url("./pizza.css");

html {
  scroll-behavior: smooth;
}

.img {
  display: block;
}

.container {
  max-width: 1060px;
  box-sizing: content-box;
  margin: 0 auto;
  background: rgb(255, 255, 255);
}


.head_block {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.button_orang {
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 1000px;
  background: #f96900;
  cursor: pointer;
}

.button_orange_text {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.button_orang_light {
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 1000px;
  background: #fff0e6;
  cursor: pointer;
}

.button_orange_light_text {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #d15700;
}

a {
  text-decoration: none;
}
a:link {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:active {
  color: #f96900;
}
a:hover {
  color: #f96900;
}
