@import url("./reset.css");
@import url("./header.css");
@import url("./menu.css");
@import url("./new_card.css");
@import url("./pizza.css");
@import url("./combo.css");
@import url("./snacks.css");
@import url("./dessert.css");
@import url("./drinks.css");
@import url("./footer.css");


html {
  scroll-behavior: smooth;
}

body div {
  border: 1px solid green;
}


.img {
  display: block;
}

.container {
  max-width: 1060px;
  box-sizing: content-box;
  margin: 0 auto;
  background: rgb(255, 255, 255);
}


.head_block {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 40px;
}

.card_head_text {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.card_descript_text {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #73798c;
  margin-bottom: 11px;
}

.card_price_text {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-right: 46px;
}

.card_footer {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: auto;
}

.button {
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 1000px;
  background: #f96900;
  cursor: pointer;
  display: block;
}

.button_text {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.button_light {
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 1000px;
  background: #fff0e6;
  cursor: pointer;
}

.button_light_text {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #d15700;
}

a {
  text-decoration: none;
}
a:link {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:active {
  color: #f96900;
}
a:hover {
  color: #f96900;
}
